.container{
  width: 80%;
  margin: 0 auto;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
.logo{
  float: left;
  padding: 10px 0px;
  height: 50px;
}
.links{
  float: right;
  align-items: right;
}
.linksul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.linksli{
  display: inline-block;
  margin-left: 5vw;
  line-height: 70px;
  position: relative;
}
nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-size: 2.5vw;
}
nav a:hover{
  color: black;
}
nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: maroon;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover::before{
  width: 100%;
}
.projects {
  padding: 32px 0;
  margin-top: 2rem;
}
.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-title{
  text-align: center;
  margin-bottom: 1rem;
}
.project-pic{
  width: 65%;
  height: 60%;
}
.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}
.project-container p{
  padding: 0.4rem;
}
.project-title{
  margin-bottom: 0.5rem;
}
.project-details{
  margin-bottom: 0.5rem;
}
.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #8b8eaf;
  padding: 20px;
  margin: 10px;
}
html{
height: 100%;
background: linear-gradient(
  to bottom,
  white 0%,
  white 10%,
  #efecdb 20%,
  #efecdb 100%
);
background-attachment: fixed;
}