.container{
  width: 100%;
  margin: 0 0;
}
header{
  background: rgb(255, 255, 255);
}
header::after{
  content: '';
  display: table;
  clear: both;
}
.logo{
  float: left;
  padding: 10px 0px;
  height: 50px;
}
.links{
  float: right;
  align-items: right;
}
.linksul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.linksli{
  display: inline-block;
  margin-left: 5vw;
  line-height: 70px;
  position: relative;
}
nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-size: 2.5vw;
}
nav a:hover{
  color: black;
}
nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: maroon;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover::before{
  width: 100%;
}
body{
  background-color: black;
  font: white;
}